<a href="https://colab.research.google.com/github/KDiaz1120/CPEN21A-PLD-1-2-/blob/main/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indentation

In [6]:
if 5>3:
  print("5 is greater than 3") #this is a comment

5 is greather than 3

Variable Declaration

In [55]:
#variable with a single value
x=5
y=3
if x>y: 
  print("x is greater than y")
else:
    print("y is greater than y")


  #variable with multiple values

a,b = 1,2
print("The value of a is:",a)
print("The value of b is:",b)

#multiple variables with single value
b = q = r = "Mam"
print(b)
print(q)
print(r)

x is greater than y
The value of a is: 1
The value of b is: 2
Mam
Mam
Mam

Casting and Type() function

In [30]:
f = int(4)   #integer
g=float(4)   #decimal/fraction

print (f)
print (g)

print(type(f))
print(type(g))

4
4.0
<class 'int'>
<class 'float'>

Dobule quote or single quote

In [38]:
name = "kenneth"
name1 = "maria"

print(name)
print(name1)

kenneth
maria

Case Sensitive

In [48]:
name = "Ana"
print(name)

Ana

Output Variables

In [58]:
o = "is enjoying"
print("Pyton programming"+" "+ o) #append is enjoying

Pyton programming is enjoying