<a href="https://colab.research.google.com/github/KDiaz1120/CPEN21A-PLD-1-2-/blob/main/List%2CTuple%2C_and_Set_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Numbers

In [ ]:
varNum = 123
pi = 3.14159

String

In [ ]:
varSting = "Hello World!"
varText = "This is a String"

Lists

In [ ]:
varList = ["abc", 123]

Turples

In [ ]:
varTurple = ('abc', 123 "Hello")

Dictionaries

In [ ]:
var = 3
varDict = {'first':1, '2': '2nd', 3:var}
varDict = {}
varDict ['first']= 1
varDict ['2'] = '2nd'
varDict [3] =var

In [ ]:
a = 5 + 3       #Addition
print(a)

b = 5 -3        #Subtraction
print(b)

c = 5*3         #Multiplication
print(c)

d = 5**3        #Exponent 
print(d)

e = 5/3         #Division
print(e)

f = 5%3
print(f)

g = 5//3
print(g)

h = 5           #Increment/Decrement
h +=1 
print(h)

i = 5           #Decrement
i -=1
print(i)

j = 'Hello' + 'Wolrd!'    #String Concatenation
print(j)

k = 3 + 5 - 6 * 2 / 4     #Complex Expressions
print(k)

8
2
15
125
1.6666666666666667
2
1
6
4
HelloWolrd!
5.0

In [ ]:
x = True                         #Boolean Conditions
if x:
  print("var x is True")
else: 
  print("var x is False")

w = "Hello World!"                #String Conditions
if w == "Hello Wolrd!":
  print("var w is Hello World!")
else:
  print("var w is not Hello World!")

y = 10                             #Numerical Conditions
if y=='10':
  print("var y is a string" )  
elif y==10:
  print("var y is an integer")
else:
  print("var y is none of the above")

var x is True
var w is not Hello World!
var y is an integer

In [ ]:
for var in range(0, 5, 2):         #For Loops
  print(var)

0
2
4

In [ ]:
var = 0                            #While Loops
while var < 5:
  print(var)
  var +=2

0
2
4

In [ ]:
x = 0                              #Nested Loops
while x<5:
  for y in range(0,x):
    print(y, end='')
  x +=1
  print()

0
01
012
0123

Functions

In [ ]:
def reminder(n,m):
  while True:
    if n-m<0:
      return n
    else: n = n - m
reminder(10,4)

2

Lists

In [ ]:
pi = 3.14159
varList = [1,2, 'A', 'B', 'Hello!', pi]
print(varList[0])
print(varList[4])

varList.append('World!')
print(varList[6])

len(varList)
print(varList[5])
varList.remove(pi)
print(varList[5])

1
Hello!
World!
3.14159
World!

Dictionaries

In [ ]:
var = "Hello Wolrd!"
varDict = {'first': 123, 2 : 'abc',
          '3' : var, 4 : ['lista', 'listb']}
print(varDict['first'])
print(varDict[2])
print(varDict['3'])
print(varDict[4])
print(varDict[4][1])
len(varDict)

123
abc
Hello Wolrd!
['lista', 'listb']
listb

4

List Generators and Comprehension

In [ ]:
def gen_num_up_to(n):
    num = 0
    while num < n:
      yield num
      num +=1

gen_num_up_to(5)
varList = gen_num_up_to(5)
print([var for var in varList])

[0, 1, 2, 3, 4]

In [ ]:
def gen_num_up_to(n):
    num = 0
    while num < n:
      yield num
      num +=2
  
varList = gen_num_up_to(5)
print([var for var in varList])

varList = range(0,5,2)
print([var for var in varList])

[0, 2, 4]
[0, 2, 4]

Slicing

In [ ]:
varList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(varList[:5])
print(varList[5:])
print(varList[:-2])
print(varList[-2:])
print(varList[2:-2])
print(varList[2:8:2])

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8]
[9, 10]
[3, 4, 5, 6, 7, 8]
[3, 5, 7]